<section class="w-10/12 mx-auto my-6">


   
    <header>
        <h1 class="text-2xl font-bolder mb-3">Forget Password</h1>
        @if(errmsg){
            <div class="alert">
                <p>
                    {{errmsg}}
                </p>
            </div>
        }
    
    </header>

    
 
    <form [formGroup]="ForgetPasswordForm" (ngSubmit)="ForgetPasswordSubmit()" class="mt-4 pt-4">
      
        <div class="email mt-3">
            <label for="email">Email:</label>
            <input formControlName="email" id="email" type="email" class="Form-control">
            @if(ForgetPasswordForm.get("email")?.errors && ForgetPasswordForm.get("email")?.touched){
                <div class="alert">
                    @if(ForgetPasswordForm.get("email")?.errors?.["required"]){
                        <p>Email Is Required</p>
                    }
                    @else if(ForgetPasswordForm.get("email")?.errors?.["email"]){
                        <p>Email Is not Vailid : 3</p>
                    }
                </div>
              
            }
        </div>
        
    
    
            <div class="Submit mt-3">
                <button [disabled]="ForgetPasswordForm.invalid" class="bg-green-400 rounded-2xl px-2 py-2 text-white block 1/12 hover:bg-green-900">
   
                        Send Code
                 
                    @if(isLoading){
                        <span><i class="fa fa-spinner fa-spin"></i></span>
                      }
    
      </button>   
         </div>
    
    
    
    
       </form>
    
      
    
    </section>
