<section class="w-10/12 mx-auto my-6">


   
    <header>
        <h1 class="text-2xl font-bolder mb-3">Reset Password</h1>
    
    </header>

    
    <form [formGroup]="ResetPasswordForm" (ngSubmit)="ResetPasswordSubmit()" class="mt-4 pt-4">
        @if(errmsg){
            <div class="alert">
                <p>
                    {{errmsg}}
                </p>
            </div>
        }

        <div class="email mt-3">
            <label for="email">Email:</label>
            <input formControlName="email" id="email" type="email" class="Form-control">
            @if(ResetPasswordForm.get("email")?.errors && ResetPasswordForm.get("email")?.touched){
                <div class="alert">
                    @if(ResetPasswordForm.get("email")?.errors?.["required"]){
                        <p>Email Is Required</p>
                    }
                    @else if(ResetPasswordForm.get("email")?.errors?.["email"]){
                        <p>Email Is not Vailid : 3</p>
                    }
                </div>
              
            }
        </div>
    

    
        <div class="newPassword mt-3">
            <label for="newPassword">newPassword:</label>
            <input formControlName="newPassword" id="newPassword" type="text" class="Form-control">
            @if(ResetPasswordForm.get("newPassword")?.errors && ResetPasswordForm.get("newPassword")?.touched){
                <div class="alert">
                    @if(ResetPasswordForm.get("newPassword")?.errors?.["required"]){
                        <p>newPassword Is Required</p>
                    }
                    @else if(ResetPasswordForm.get("newPassword")?.errors?.["pattern"]){
                        <p>newPassword is Not Valid</p>
                    }
             
                </div>
              
            }
        </div>
        
    
    
            <div class="Submit mt-3">
                <button [disabled]="ResetPasswordForm.invalid"  class="bg-green-400 rounded-2xl px-2 py-2 text-white block 1/12 hover:bg-green-900">
                    <a>Submit</a>
                 
                    @if(isLoading){
                        <span><i class="fa fa-spinner fa-spin"></i></span>
                      }
    
      </button>   
         </div>
    
    
    
    
       </form>
    
      
    
    </section>